.navbar-component {
    .navbar-wrapper {
        padding: 2rem 6rem;

        .navbar-content {
            display: flex;
            align-items: center;
            justify-self: center;

            .navbar-logo {
                padding-right: 2rem;
                font-weight: 700;
                font-size: 30px;
            }

            .navbar-menu {
                display: flex;
                flex: auto;

                .menu-item {
                    padding-right: 2rem;
                    color: hsl(257, 7%, 63%);
                    font-weight: 700;
                    font-size: 15px;
                }
            }

            .navbar-authentification {
                display: flex;
                align-items: center;
                justify-self: center;

                .navbar-login {
                    padding-right: 2rem;
                    color: hsl(257, 7%, 63%);
                    font-weight: 700;
                    font-size: 15px;
                }

                .navbar-signup {
                    background-color: hsl(180, 66%, 49%);
                    border-radius: 3rem;
                    padding: 0.5rem 2rem;
                    color: white;
                    font-weight: 700;

                    &:hover {
                        opacity: 0.5;
                        cursor: pointer;
                    }
                }
            }

            .navbar-mobile {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .navbar-component {
        .navbar-wrapper {
            padding: 1rem 2rem;
    
            .navbar-content {
                display: flex;
                align-items: center;
                justify-self: center;
    
                .navbar-logo {
                    padding-right: 2rem;
                    font-weight: 700;
                    font-size: 30px;
                    flex: auto;
                }
    
                .navbar-menu {
                    display: none; 
                }
    
                .navbar-authentification {
                    display: none;
                }

                .navbar-mobile {
                    display: block;

                    .navbar-hamburger {
                        display: block;
                    }

                    .toggle-menu {
                        position: absolute;
                        top: 85px;
                        left: 23px;
                        background-color: #3b3054;
                        padding: 2rem 2rem;
                        text-align: center;
                        color: white;
                        font-weight: 600;
                        border-radius: 1rem;
                        width: 73%;
            

                        .hamburger-bloc {
                            &.show {
                                transform: scale(1);
                                transition: all ease-in 300ms;
                                transform-origin: top;
                            }
    
                            &.hide {
                                transform: scale(1, 0);
                                transition: all ease-out 300ms;
                                transform-origin: top;
                            }
                            
                            .hamburger-item {
                                padding-bottom: 2rem;
                            }
                        }

                        .divide-line {
                            border-bottom: 1px solid white;
                            padding-top: 1rem;
                        }
                        
                        .hamburger-login {
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                        }

                        .hamburger-signup {
                            background-color: hsl(180, 66%, 49%);
                            border-radius: 3rem;
                            padding: 0.5rem 2rem;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}