.hero-component {
    .hero-desktop {
        .hero-wrapper {
            display: flex;
            
            .hero-content {
                flex: auto;
                padding-left: 6rem;
                padding-top: 4rem;
    
                .main-content {
                    font-size: 60px;
                    font-weight: 700;
                    line-height: 1;
                }
    
                .content-description {
                    color: hsl(0, 0%, 75%);
                    font-size: 18px;
                    font-weight: 500;
                }
    
                .content-button {
                    .button-text {
                        background-color: hsl(180, 66%, 49%);
                        border-radius: 3rem;
                        padding: 0.8rem 0.8rem;
                        width: 122px;
                        color: white;
                        text-align: center;
                        font-weight: 700;
    
                        &:hover {
                            opacity: 0.5;
                            cursor: pointer;
                        }
                    }
                }
            }
    
            .hero-image {
                img {
                    width: 100%;
                }
            }
        }
    }

    .hero-mobile {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .hero-component {
        .hero-desktop {
            display: none;
        }
    
        .hero-mobile {
            display: block;

            .hero-image {    
                padding-left: 30px;     
                img {
                    width: 100%;
                }
            }

            .hero-wrapper {
                display: flex;
                flex-direction: column;
                
                .hero-content {
                    text-align: center;
                    padding-left: 1rem;
                    padding-top: 2rem;
        
                    .main-content {
                        font-size: 45px;
                        font-weight: 700;
                        line-height: 1;
                    }
        
                    .content-description {
                        color: hsl(0, 0%, 75%);
                        font-size: 18px;
                        font-weight: 500;
                    }
        
                    .content-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .button-text {
                            background-color: hsl(180, 66%, 49%);
                            border-radius: 3rem;
                            padding: 0.8rem 0.8rem;
                            width: 122px;
                            color: white;
                            text-align: center;
                            font-weight: 700;
        
                            &:hover {
                                opacity: 0.5;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}